@using ActivityManagement.Services.EfInterfaces
@using ActivityManagement.ViewModels.SiteSettings
@inject IWritableOptions<SiteSettings> WritableOptions
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>@WritableOptions.Value.SiteInformation.Title</title>

    <!-- Favicon -->
    <link href="@WritableOptions.Value.SiteInformation.Favicon" rel="icon" type="image/png" />



    <link href="~/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" />


    <!-- Plugins Core Css -->
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/js/bundles/materialize-rtl/materialize-rtl.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <!-- Theme style. You can choose a theme from css/themes instead of get all themes -->
    <link href="/assets/css/styles/all-themes.css" rel="stylesheet" />
    <link href="~/lib/bootstrap.datetimepicker/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />

    @*<link href="~/lib/Loading/css/preloader.css" rel="styleshleet" />*@

    @*<a class="navbar-brand pt-0" asp-action="Index">
            <img src="@WritableOptions.Value.SiteInformation.Logo" class="navbar-brand-img" alt="">

        </a>*@

</head>
<body class="rtl theme-black logo-white submenu-closed">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30">
                <img class="loading-img-spin" src="assets/images/loading.png" alt="admin">
            </div>
            <p>لطفا صبر کنید...</p>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    @await Html.PartialAsync("_Navbar")
    <!-- #Top Bar -->
    <div>
        <!-- Right Sidebar -->
        @await Html.PartialAsync("_RightSideMenu")


        <!-- Left Sidebar -->
        @await Html.PartialAsync("_LeftSideMenu")


    </div>
    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>



    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/app.min.js"></script>

    <!-- Custom Js -->
    <script src="assets/js/admin.js"></script>
    <script src="assets/js/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="assets/js/pages/index.js"></script>
    @*<script src="~/lib/Loading/js/jquery.preloader.min.js"></script>*@
    <script src="~/lib/bootstrap.datetimepicker/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="~/assets/js/Main.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
